@import '~antd/dist/antd.css';

@import url('https://fonts.googleapis.com/css?family=Livvic:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Rubik:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
h1, h2, h3, h4, h5, h6 {
  font-family: "Livvic";
  color: var(--color-app);
}

.navTitle {
  font-family: "Livvic";
}

.ant-page-header-heading-title {
  font-family: "Livvic";
}

html, body {
  font-family: "Rubik";
}

body {
  overflow-y: scroll;
  overflow-x: hidden;

  color: var(--color-app);
  background-color: var(--background-color-app);
  
}

.exit-button {
  text-align: center;
  width: 24px;
  height: 24px;
  cursor: pointer;

  /* make button take up 0 width */
  position: relative;
  right: 24px;
  margin-right: -24px;

  background-color: var(--background-color-secondary);
  box-shadow: var(--drop-shadow);
  border-radius: 24px;
  position: relative;
  z-index: 1;
  float: right;
}
.exit-button::before {
  content: "✕";
  font-size: 1.15em;
  /* margin-top: 100px; */
}

.ant-select-selector {
  border-radius: var(--border-radius-secondary) !important;
}

.ant-select-dropdown {
  border-radius: var(--border-radius-secondary);
}

.ant-select-selection-item {
  border-radius: var(--border-radius-secondary) !important;
}

.container-primary .ant-input {
  border-radius: var(--border-radius-secondary) !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
