.container-primary {
  background-color: var(--background-color-primary);
  border-radius: var(--border-radius-primary);
  filter: var(--drop-shadow);
  padding: 30px;
  /* margin: var(--unit-margin); */
  overflow: hidden;
}

.container-primary::-webkit-scrollbar {
  /* width: 1em; */
  width: 5px;
  overflow: visible;
}

.container-primary::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  /* width: 0; */
}

.container-primary::-webkit-scrollbar-thumb {
  background-color: none;
  outline: slategrey solid 10px;
  transition: background-color 0.5s;

}
.container-primary:hover::-webkit-scrollbar-thumb {
  background-color:  rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  filter: var(--drop-shadow);
  outline: slategrey solid 10px;
  

}

.container-secondary {
  padding: 15px;
  background-color: var(--background-color-secondary);
  border-radius: var(--border-radius-secondary);
  filter: var(--drop-shadow);
  
}

.browse {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-gap: 30px;
  /* background-color: rosybrown; */
}

.mainContent {
  /* padding: 30px;
  position: relative;
  flex: 1;
  left: 30px; */
}
