.container-primary {
  background-color: var(--background-color-primary);
  border-radius: var(--border-radius-primary);
  border: var(--border);
  box-shadow: var(--inner-shadow), var(--drop-shadow-dark), 0px 0px 0px 1px #00000000;
  padding: calc(2*var(--unit-margin));
}

.container-secondary {
  padding: var(--unit-margin);
  background-color: var(--background-color-secondary);
  border-radius: var(--border-radius-secondary);
  /* filter: var(--drop-shadow); */
  box-shadow: var(--drop-shadow);
}

.grid-main-layout-primary {
  display: inline-grid;
  grid-template-columns: auto var(--unit-width);
  grid-gap: calc(2* var(--unit-margin));
  margin: var(--unit-margin) calc(4*var(--unit-margin));
}

.grid-search {
  --unit: 380px;
  --unit-width: calc(
    var(--unit-col-num) * var(--unit) + var(--unit-col-num) * var(--unit-margin) -
      var(--unit-margin)
  );
}



.container-scroll {
  scrollbar-width: thin;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: var(--background-color-tertiary) #ffffff00;
  padding-right: calc(2*var(--unit-margin) - 6px);
}

.container-scroll-x {
  scrollbar-width: thin;
  overflow-y: hidden;
  overflow-x: scroll;
  scrollbar-color: var(--background-color-tertiary) #ffffff00;
  padding-right: calc(2*var(--unit-margin) - 6px);
}

.container-scroll::-webkit-scrollbar, body::-webkit-scrollbar {
  width: 6px;
}
.container-scroll-x::-webkit-scrollbar, body::-webkit-scrollbar {
  height: 10px;
}

.container-scroll::-webkit-scrollbar-track, .container-scroll-x::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
}

.container-scroll::-webkit-scrollbar-thumb, .container-scroll-x::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0);
  
}

.container-scroll:hover::-webkit-scrollbar-thumb {
  background-color: var(--background-color-tertiary) ;
  border-right: 3px solid var(--background-color-primary);
  border-radius: 6px;
}

.container-scroll:hover::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
  background-color: var(--background-color-tertiary) ;
  border-radius: 6px;
}

.container-scroll-x::-webkit-scrollbar-thumb {
  background-color: var(--background-color-tertiary) ;
  border: 2px solid var(--background-color-primary);
  border-radius: 5px;
}

