:root {
  --color-app: #000000;

  --color-primary: rgba(45, 113, 253, 1);

  --color-gradient: #f7f7f7;

  --gradient: linear-gradient(
    -45deg,
    rgba(0, 214, 170, 1) 0%,
    rgba(45, 113, 253, 1) 50%,
    rgba(141, 45, 253, 1) 100%
  );
  --btn-gradient: linear-gradient(
    -45deg,
    rgba(0, 214, 170, 1) 0%,
    rgba(45, 113, 253, 1) 50%,
    rgba(141, 45, 253, 1) 100%
  );
  
   --del-gradient: linear-gradient(
     -45deg,
     rgba(252,176,69,1) 0%,
     rgba(253,29,29,1) 50%,
     rgba(141,45,253,1) 100%
   );


  --button-font-color: #ffffff;

  --background-color-app: #ffffff;
  --background-color-primary: #f7f7f7;
  --background-color-secondary: rgba(255, 255, 255, 0.6);
  --background-color-tertiary: rgba(0, 0, 0, 0.2);

  --border: 3px solid #ffffff;
  --border-radius-primary: 20px;
  --border-radius-secondary: 15px;

  --drop-shadow-dark: 0px 5px 20px rgba(0, 0, 0, 0.15);
  --drop-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  --inner-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.1);

  /* --unit: 240px; */
  --unit: 260px;
  --unit-col-num: 1;
  --unit-ratio: 0.75;
  --unit-margin: 15px;

  --unit-width: calc(
    var(--unit-col-num) * var(--unit) + var(--unit-col-num) * var(--unit-margin) -
      var(--unit-margin)
  );
}

@media only screen and (min-width: 1000px) {
  :root {
    --unit-col-num: 2;
  }
}

@media only screen and (min-width: 1300px) {
  :root {
    --unit-col-num: 3;
  }
}

@media only screen and (min-width: 1600px) {
  :root {
    --unit-col-num: 4;
  }
}

@media only screen and (min-width: 1900px) {
  :root {
    --unit-col-num: 5;
  }
}

@media only screen and (min-width: 2200px) {
  :root {
    --unit: 300px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-app: #ffffff;

    --color-gradient: #444444;

    --background-color-app: #1f1f1f;
    --background-color-primary: #000000;
    --background-color-secondary: rgba(255, 255, 255, 0.178);

    --border-radius-primary: 10px;
    --border-radius-secondary: 8px;

    --drop-shadow: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.5));
  }

  .thumbnail {
    filter: brightness(0.8) contrast(1.2);
  }

  .portfolio-hero-media {
    filter: brightness(0.8) contrast(1.2);
  }
}
