.ant-select-selector {
    border-radius: 10px !important;
}

.ant-select-dropdown {
    border-radius: 10px;
}

.ant-select-selection-item {
    border-radius: 10px !important;
}

.floatingBox .ant-input {
    border-radius: 10px !important;
}

.floatingBox {

    position: relative;
    width: 40vw;
    height: 60vh;
    left: 30px;
    top: 30px;
  
    min-width: 350px;
    max-width: 450px;
  
    /* Neutral/2 */
    background: #FAFAFA;
    border: 1px solid #F0F0F0;
  
    /* drop-shadow/0.15 */
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  
    border-radius: 10px;
  
    transition: box-shadow 0.3s ease;
  }
  
  .floatingBox:hover {
    /* drop-shadow/0.12+0.8+0.5 */
    box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
  }
  
  .floatingBox .content {
    position: relative;
    padding-left: 30px;
    top: 30px;
    text-align: left;
  }
  
  .browse {
    display: flex;
    flex-wrap: wrap;
  }
  
  .mainContent {
    padding: 30px;
    position: relative;
    flex: 1;
    left: 30px;
  }