.authorBadge {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.profilePicture {
  background: var(--gradient);
  width: 48px;
  height: 48px;
  border-radius: 64px;
  padding: 8px;
}

.authorName {
  margin-left: 16px;
}

.gotoProfile {
  padding-left: 5px;
}
