.filter-and-sort {
  text-align: left;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: var(--unit-margin);
  padding-bottom: calc(3 * var(--unit-margin));
  height: 350px;
  width: 350px;
  overflow: hidden;
  transition: width 1s, height 1s, padding 1s, border-radius 1s;
}

.filter-min {
  width: 32px;
  height: 32px;
  padding: 0px;
  box-sizing: border-box;

  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-left: -30px; /* Center folio grid */
  z-index: 10; /* Bring to front so onClick works */
  position: sticky;
  top: var(--unit-margin);
  cursor: pointer;
}

.filter-content {
  opacity: 1;
  padding-top: 0px;
  transition: opacity 1s, padding 1s;
}
.filter-min .filter-content {
  opacity: 0;
  padding-top: 100px;
}

.floating-hamburger {
  display: none;
}
.filter-min .floating-hamburger {
  display: block;
}

.floating-hamburger .anticon {
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 6px;
}

/* .floating-hamburger:hover {
  box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12),
    0px 6px 16px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
} */

.anticon-menu {
  transition: color 0.3s;
}

.anticon-menu:hover {
  color: #bfbfbf;
}

.anticon-close {
  transition: color 0.3s;
}

.anticon-close:hover {
  color: #bfbfbf;
}

.ant-tooltip-inner {
  border-radius: var(--border-radius-secondary) !important;
}

.ant-select-selector,
.ant-input {
  border-radius: var(--border-radius-secondary) !important;
  border-color: var(--border-color) !important;
  box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.1);
  cursor: text;
  background-color: rgba(0, 0, 0, 0.01) !important;
}

.ant-select-focused {
  border-radius: var(--border-radius-secondary) !important;
  outline: 0;
  border: 0 !important;
  box-shadow: inset 0px 5px 7px rgba(0, 0, 0, 0.2);
  background-color: #00000000 !important;
}

.ant-input:focus,
.ant-input-focused {
  outline: 0;
  border-color: var(--border-color);
  box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.01) !important;
}

.filter-and-sort .ant-input {
  width: 270px !important;
}
