header{
  display: flex;
}

header ul {
  
  margin-top: auto !important;
  margin-bottom: auto !important;
  border: 0 !important;
}

a.navTitle {
  color: rgba(0, 0, 0, 0.85);
}

.ant-input-group > .ant-input:first-child,
.ant-input-group-addon:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

button.ant-btn.ant-btn-primary.ant-input-search-button {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
