header {
  display: flex;
  /* font-weight: bold; */
}

header ul {
  margin-top: auto !important;
  margin-bottom: auto !important;
  border: 0 !important;
}

a.navTitle {
  color: rgba(0, 0, 0, 0.85);
}

.ant-input-group > .ant-input:first-child,
.ant-input-group-addon:first-child {
  height: 40px;
  border-radius: 100px 0px 0px 100px !important;
  border: var(--border);
  box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.1), var(--drop-shadow);
  background-color: rgba(0, 0, 0, 0.03);
  /* box-shadow: var(--drop-shadow); */
}

button.ant-btn.ant-btn-primary.ant-input-search-button {
  position: relative;
  z-index: 1;
  border-radius: 0px 100px 100px 0px !important;
}

.ant-input-group-addon {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.ant-menu {
  border-color: var(--color-primary) !important;
  color: var(--color-primary) !important;
  background-color: var(--background-color-app);
}
.ant-menu-horizontal > .ant-menu-item-selected a {
  background: var(--color-app);
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: var(--drop-shadow);
}
