.ant-btn {
  border-radius: 10px;
  background: var(--btn-gradient) !important;
  border-radius: 100px !important;
  border: var(--border);
  height: 50px; 
  box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.1), var(--drop-shadow);
}

.ant-btn:hover {
  border-color: var(--color-primary);
}
