.resume-entry {
  margin-top: 30px;
}

.resume-entry-inline ul {
  padding: 0;
  list-style-type: none;
}
.resume-entry-inline li {
  padding: 10px;
  margin: 5px;
  background-color: var(--background-color-secondary);
  box-shadow: var(--drop-shadow);
  border-radius: 100px;
  /* border: 1px solid; */
  min-width: 50px;
  display: inline-block;
}

.exit-button-resume-entry {
  opacity: 0;
  transition: opacity 0.3s;
  top: -15px;
  right: 5px;
  background: var(--del-gradient);
}

.resume-entry li:hover .exit-button-resume-entry {
  opacity: 1;
}

.resume-entry-add {
  color: var(--color-app);
  text-align: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin: auto;
  border-radius: 100px;
  border: var(--border);
  box-sizing: content-box;
  background-color: var(--background-color-primary);
  box-shadow: var(--inner-shadow), var(--drop-shadow);
}

.resume-entry-inline .resume-entry-date {
  display: none;
}

.resume-entry-inline .resume-sub-text {
  display: none;
}

.resume-entry-block ul {
  padding: 0;
  text-align: left;
  list-style-type: none;
  margin: 0;
}
.resume-entry-block li {
  padding: 5px;
  margin-bottom: 5px;
  background-color: var(--background-color-secondary);
  box-shadow: var(--drop-shadow);
  border-radius: var(--border-radius-secondary);
}

.resume-entry-grid {
  display: grid;
  grid-template-columns: 100px auto;
}

.resume-entry-block .resume-entry-date {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 0.75em;
  text-align: right;
  margin-right: 10px;
  padding-right: 10px;
  overflow-x: hidden;
  margin-top: 4px;
  border-right: 1px solid var(--color-app);
  /*opacity: 0.6;*/
}

.resume-entry-block .resume-sub-text {
  opacity: 0.6;
}
