.socialLinks {
  border-top: #fff 3px solid;
  padding-top: 5px;
}

.socialLinks a {
  color: rgba(0, 0, 0, 0.85);
}

.socialLinks ul {
  padding: 0;
  list-style-type: none;
}
.socialLinks li {
  cursor: pointer;
  padding: auto;
  text-align: center;
  margin: 5px;
  background-color: var(--background-color-secondary);
  box-shadow: var(--drop-shadow), 0px 0px 0px 1px #00000000;
  border-radius: 100px;
  /* border: 1px solid; */
  width: 30px;
  /* height: 30px; */
  line-height: 30px;
  display: inline-block;
  color: var(--color-app);
  transition: color 0.3s, box-shadow 0.3s;
}

.socialLinks li:hover {
  color: var(--color-primary);
  box-shadow: var(--drop-shadow), 0px 0px 0px 1px var(--color-primary);
}

.exit-button-social-links {
  margin-top: -25px;
  margin-right: -50px;
}

.skills-add {
  border: var(--border) !important;
  box-sizing: content-box !important;
  background-color: var(--background-color-primary) !important;
  box-shadow: var(--inner-shadow), var(--drop-shadow) !important;
}
