.socialLinks {
  border-left: var(--color-app) 1px solid;
  padding-left: 5px !important;
  margin-left: 5px;
  /* margin-top: -3px; */
  text-align: left;
}

.socialLinks a {
  color: var(--color-app);
}

.socialLinks ul {
  padding: 0;
  list-style-type: none;
}
.socialLinks li {
  box-shadow: var(--drop-shadow), 0px 0px 0px 1px #00000000;
  transition: color 0.3s, box-shadow 0.3s;
}

.socialLinks li:hover {
  color: var(--color-primary);
  box-shadow: var(--drop-shadow), 0px 0px 0px 1px var(--color-primary);
}

.exit-button-social-links {
  margin-top: -25px;
  margin-right: -50px;
  background: var(--del-gradient);
}

.skills-add {
  background-color: var(--background-color-primary) !important;
  box-shadow: var(--inner-shadow), 0px 0px 0px 3px var(--border-color), var(--drop-shadow) !important;
}

.ant-popover {
  width: 300px !important;
}
