.text-input-display-none {
    /* display: none; */
    width: 0;
    height: 0;
    overflow: scroll;
    
}

.text-input {
    /* background-color: blueviolet; */
    cursor: default;
    /* margin: -5px; */
    width: 100%;
    /* height: fit-content; */
    border-radius: var(--border-radius-secondary);
    transition: box-shadow 0.3s;
    /* background-color: rosybrown; */
}


.text-input-editable:hover {
    box-shadow: inset var(--drop-shadow);
    cursor: text;
    
}

.text-input-focus {
    box-shadow: inset var(--drop-shadow);
    
}

.text-input input {
    text-align: inherit;
    font-weight: inherit;
    font-size: inherit;
    font-style: inherit;
    font-family: inherit;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
}